<h1>All items for sale</h1>
<hr>
<% @items.each do |item| %>
  <article id="<%= item.id %>">
    <center><img src="<%= item.picture_url %>" title="<%= item.name %>" height="150px" style="float: right; border-raidus: 50%"></center>
    <h3><%= link_to "#{item.name}", item_path(item) %></h3>
    <p>Price: $<%= item.price_as_dollars %></p>
    <p>UPC: <%= item.upc.upcase %></p>
    <p>Quantity in stock: <%= item.quantity %></p>
    <p>Description: </p>
    <p><%= item.description %></p>
    <p><%= link_to 'Edit', edit_item_path(item) if authenticated? && current_user.is_admin? %></p>
    <hr>
    <p><%= link_to 'Delete', item_path(item),
              method: :delete,
              data: { confirm: 'Are you sure?' } if current_user && current_user.is_admin? %></p>
  </article>
  <hr>
<% end %>
