<%= puts "testing this partial" %>
<tr id="<%= item.id %>" class='cart_row'>
      <td><strong><%= item.name %></strong></td>
      <td><strong>
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <%= cart_item.quantity %>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
            <% n = 1 %>
            <% item.quantity.times do %>
              <li><a href="/cart_items/<%= item.id %>?qty=<%= n %>" class='qty'><%= n %></a></li>
              <% n += 1 %>
            <% end %>
          </ul>
        </div>
      </strong></td>
      <td><strong><%= item.formatted_price %></strong></td>
      <td><strong><%= cart_item.total_price %></strong></td>
      <td>
        <a href="/cart_items/<%= item.id %>" class='remove-button'>
          <button id='remove-button' type="button" class="btn btn-sm" aria-label="Left Align">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </button>
        </a>
      </td>
    </tr>
